
footer{
    background-color: rgb(7, 9, 12);
    color: white;
    margin: 1%;
    padding: 1%;
    border-radius: 3px;
}

.link-contact-secial-link{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.link-contact-secial-link div{
    margin: 2%;
    background-color: rgb(7, 9, 12);
    
}

.footer-about, .footer-contact, .footer-link,
.social_media_link, .copy-right {
    background-color: rgb(7, 9, 12);
    margin: 1%;
    padding: 1%;
    border-radius: 3px;
    
}
.footer-contact p{
    margin-bottom: 10px;
}

.fa-brands{
    margin-bottom: 10px;
    margin-left: 20px;
}

.footer-link a{
    color: white;
}
.copy-right{
    justify-items: center;
}